
.register-card
{
    padding: 20px;
    width: 50%;
    margin: 20px auto;
    text-align: center;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
}

.register-card form
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    margin: auto;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.register-card  .text-error
{
    color: rgb(136, 160, 231);
    font-size: 14px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    margin-top: -8px;
    margin-bottom: 8px;
    padding: 0 10px;
}

.input
{
    margin: 0;
}

.button
{
    margin: 0;
}

.register-card input
{
    padding: 10px;
    color: rgb(255, 255, 255);;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

.register-card input:focus
{
    outline: none;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
}

.register-card button
{
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(136, 160, 231);
    border: none;
    color: white;
    cursor: pointer;
}

.register-card button:disabled
{
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(55, 72, 121);
    border: none;
    color: rgb(33, 42, 69);
    cursor: default;
}

.register-card button:disabled:hover
{
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(55, 72, 121);
    border: none;
    color: rgb(33, 42, 69);
    cursor: default;
}

.register-card button:hover
{
    background-color: rgb(106, 130, 201);
}

.register-card a
{
    margin-top: 10px;
    display: block;
    color: rgb(136, 160, 231);
    text-decoration: none;
    cursor: default;
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: chakra petch, sans-serif;
  width: 100%;
}

.form-group input{
 margin: 0;
 color: rgb(105, 105, 105);
 border: 1px solid rgb(0, 0, 0);
}

.form-group label {
 font-family: chakra petch, sans-serif;
 margin: 0;
 border: 1px solid rgb(0, 0, 0);
 background-color: rgb(0, 0, 0);
 padding: 10px;
 color: rgb(105, 105, 105);
} 

.underline
{
    text-decoration: underline;
    cursor: pointer;
}