
.register-card
{
    padding: 20px;
    width: 50%;
    margin: 80px auto;
    text-align: center;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
}

.register-card form
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    margin: auto;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.input
{
    margin: 0;
}

.button
{
    margin: 0;
}

.register-card input
{
    padding: 10px;
    color: rgb(255, 255, 255);;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
    font-size: 16px;
    width: 90%;
}

.register-card input:focus
{
    outline: none;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
}

.register-card button
{
    padding: 10px;
    font-size: 16px;
    width: 97%;
    background-color: rgb(136, 160, 231);
    border: none;
    color: white;
}

.register-card a
{
    margin-top: 10px;
    display: block;
    color: rgb(136, 160, 231);
    text-decoration: none;
}

.form-group {
  display: flex;
  align-items: center;
 font-family: chakra petch, sans-serif;
  width: 96%;
  
}

.form-group input{
 width: 100%;
 margin: 0;
 color: rgb(255, 255, 255);
 border: none;

}

.form-group label {
 font-family: chakra petch, sans-serif;
 margin: 0;
 border: 1px solid rgb(0, 0, 0);
 background-color: rgb(0, 0, 0);
 padding: 10px;
 color: rgb(105, 105, 105);
 
  /* Adjust as needed */
} 