.user-card {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    height: 100px;
    position: relative;
 
}
.user-buttons{
    position: absolute;
    bottom: 0;
    right: 10px;
}
.user-picture button{
    width: fit-content;
    border-radius: 100%;
    padding: 5px;
    margin: 5px;
    position: absolute;
    bottom: 15px;
    right: 10px;
    font-size: 12px;
}
.user-picture{
    position: relative;
}

.user-details {
    position: relative;
    top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-details img {
    width: 100px;
    border-radius: 100%;
    border: 3px solid rgb(255, 255, 255);
}

.user-buttons button{
    width: fit-content;
    padding: 5px;
    margin: 2px;
    font-size: 10px;
    border: none;
    background-color: black;
    color: white;
}

body
{
    align-items: center;
    justify-content: center;
}