.profile-card {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(7, 7, 7);
    height: 100px;
    position: relative;
 
}
.profile-buttons{
    position: absolute;
    bottom: 0;
    right: 10px;
}
.profile-picture button{
    width: fit-content;
    border-radius: 100%;
    padding: 5px;
    margin: 5px;
    position: absolute;
    bottom: 15px;
    right: 10px;
    font-size: 12px;
}
.profile-picture{
    position: relative;
}

.profile-details {
    position: relative;
    top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-details img {
    width: 100px;
    border-radius: 100%;
    border: 10px solid rgb(7, 7, 7);
}

.profile-buttons button{
    width: fit-content;
    border-radius: 100%;
    padding: 5px;
    margin: 2px;
    font-size: 10px;

}
