.profile-card{
    margin: 10px;
    padding: 5px;
    flex-wrap: wrap;
    margin-bottom: 10px;
    padding: 20px;
    color: rgb(255, 255, 255);
    border: 1px solid white;
}

.profile-card h1{
    margin: 10px;
    margin-bottom: 20px;
}

#member{
  gap: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px;
}

#about{
    margin-top: 20px;
}