.error-message
{
    color: rgb(136, 160, 231);
    font-size: 14px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    margin-top: -8px;
    margin-bottom: 8px;
    padding: 0 10px;
}

.success-message
{
    color: rgb(136, 160, 231);
    font-size: 14px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    margin-top: -8px;
    margin-bottom: 8px;
    padding: 0 10px;
}