
.login-card
{
    padding: 20px;
    width: 50%;
    margin: 80px auto;
    text-align: center;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
}

.login-card form
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    margin: auto;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.input
{
    margin: 0;
}

.button
{
    margin: 0;
}

.login-card input
{
    padding: 10px;
    color: rgb(255, 255, 255);;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

.login-card input:focus
{
    outline: none;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
}

.login-card button
{
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(136, 160, 231);
    border: none;
    color: white;
    cursor: pointer;
}

.login-card button:hover
{
    background-color: rgb(106, 130, 201);
}

.login-card a
{
    margin-top: 10px;
    display: block;
    color: rgb(136, 160, 231);
    text-decoration: none;
    cursor: default;
}

.underline
{
    text-decoration: underline;
    cursor: pointer;
}

.error-message
{
    color: rgb(136, 160, 231);
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    margin-top: -8px;
    margin-bottom: 8px;
    padding: 0 10px;
}