
.login-card
{
    padding: 20px;
    width: 50%;
    margin: 80px auto;
    text-align: center;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
}

.login-card form
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    margin: auto;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.input
{
    margin: 0;
}

.button
{
    margin: 0;
}

.login-card input
{
    padding: 10px;
    color: rgb(255, 255, 255);;
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
    font-size: 16px;
    width: 90%;
}

.login-card input:focus
{
    outline: none;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
}

.login-card button
{
    padding: 10px;
    font-size: 16px;
    width: 97%;
    background-color: rgb(136, 160, 231);
    border: none;
    color: white;
}

.login-card a
{
    margin-top: 10px;
    display: block;
    color: rgb(136, 160, 231);
    text-decoration: none;
}