.notfound-background {
  height: 80vh; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notfound-container {
  background: rgba(0, 0, 0, 0.4);
  padding: 40px 60px;
  border-radius: 10px;
  text-align: center;
  color: #fff;
}

.notfound-container h1 {
  font-size: 800rem;
  margin-bottom: 10px;
  color: #ccc; 
}

.notfound-container p {
  font-size: 1.7rem;
  line-height: 1.4;
  color: #e0e0e0;
}