
h1, p {
  text-align: center;
  color: inherit;
}

h1 {
    top: 45%;
    font-size: 8rem;
    font-size: 800;
    letter-spacing: 2px;
}

h1,
p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

p {
  top: 65%;
  font-size: 1.3rem; /* more readable text */
  line-height: 1.5;
  color: #ccc; /* soft contrast for readability */
  max-width: 600px;
}
