/* not-found.css */
h1,
p {
  text-align: center;
  color: inherit;
}

/* container for 404 and message */
h1,
p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

p {
  top: 58%; /* slightly below the 404 text */
}
