/* Background setup */
.notfound-background {
  height: 80vh; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; 
  background-color: #424242d0; 
  display: flex;
  justify-content: center;
  align-items: center;
}


.notfound-container {
  background: rgba(0, 0, 0, 0.4); 
  padding: 40px 60px;
  border-radius: 10px;
  text-align: center;
  color: #fff;
}

.notfound-container h1 {
  font-size: 10rem;
  font-weight: 800;
  margin-bottom: 10px;
  color: #ffffff;
}

.notfound-container p {
  font-size: 1.2rem;
  line-height: 1.4;
  color: #ffffff;
}
