/* Background setup */
.notfound-background {
  height: 80vh; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; 
  background: rgb(0, 0, 0); 
  display: flex;
  justify-content: center;
  align-items: center;
}


.notfound-container {
  background: rgb(255, 254, 254); 
  padding: 40px 60px;
  border-radius: 10px;
  text-align: center;
  color: #fff;
}

.notfound-container h1 {
  font-size: 25rem;
  font-weight: 800;
  margin-bottom: 10px;
  color: #ffffff;
}

.notfound-container p {
  font-size: 1.7rem;
  line-height: 1.4;
  color: #e0e0e0;
}
