nav{
    display: flex;
    justify-content: space-between;
    height: 75px;
    padding: 10px;
    margin: 0 30px;
    background-color: rgb(10, 10, 10);
}

nav .brand-container img{
    height: 100%;
}

.brand-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 35px;
    font-family: 'Chakra Petch', sans-serif;
}

.links-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.links-container a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px 10px;
    border: solid 1px white;
}

.links-container a:hover{
    background-color: white;
    color: rgb(10, 10, 10);
    padding: 5px 10px;
}

.links-container .active {
    background-color: white;
    color: rgb(136, 160, 231);
    padding: 5px 10px;
}

.actions-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.actions-container a,button{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px 10px;
    border: solid 1px rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0);
}

.actions-container a:hover{
    background-color: white;
    color: rgb(10, 10, 10);
    padding: 5px 10px;
}

.actions-container button:hover{
    background-color: white;
    color: rgb(10, 10, 10);
    padding: 5px 10px;
}