
.members-container {
  display: flex;
  flex-wrap: wrap;        
  justify-content: center; 
  gap: 15px;     
  margin-top: 10px;
}

.member-card {
  color: white;
  width: 250px;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
  padding: 10px;
  margin: 10px;
}

.member-card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;    
  object-fit: cover;      
  margin: 0 auto 10px auto;
  display: block;
}

git config --global user.name "roy-hub01"
git config --global user.email "janroy.cruz@email.lcup.edu.ph"