
.members-container {
  display: flex;
  flex-wrap: wrap;        
  justify-content: center; 
  gap: 15px;     
  margin-top: 10px;
}

.member-card {
  color: white;
  width: 120px;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
  padding: 10px;
  margin: 10px;
}

.member-card img {
  width: 75%;
  border-radius: 100%;    
  object-fit: cover;      
}
